{% extends '@EasyAdmin/default/new.html.twig' %}

{% block main %}
    {% block entity_form %}
        {{ form_start(form) }}
        <div class="row">
            <div class="col">
                {{ form_row(form.name) }}
                {{ form_row(form.price) }}
                {{ form_row(form.quantity) }}
                {{ form_row(form.origin) }}
                {{ form_row(form.category) }}
            </div>
            <div class="col">
                {{ form_row(form.description) }}
                {{ form_row(form.online) }}
            </div>
        </div>
        {{ form_end(form) }}
    {% endblock %}

{% endblock %}